@model Lab3.Models.Person
<h1>@ViewData["Heading"]</h1>

<p>Name: @Model.FirstName @Model.LastName</p>
<p>Birthday: @String.Format("{0:MMMM d, yyyy}", Model.BirthDate)</p>
<p>Age: @Model.Age</p>
<input type="Button" value="Delete" />